.errorMessages{
	background-color:white;
	height:80px;
	width:60vw;
	margin:0 auto;
	list-style: none;
}
.validate{
	list-style:none;
	color:red;
}
body{
	height:100vh;
	width:100vw;
	text-align:center;
	background-image: url("./images/cafe.jpg");
}
.login-form{
	height:calc(100vh - 80px);
	width:60vw;
	background-color:white;
	margin: 0 auto;
}
.account-form{
	padding:40px 40px;
}
.password-form{
	padding:40px 40px;
}
.submit-btn{
	font-size: 20px;
	background-color: gray;
	font-size: 12px;
	boder-radius: 30px;
	box-shadow: 3px 3px 3px gray;
	transition: 0.3s;
}
.copyright{
	padding:40px 40px;
	text-align:center;
}


.header{
	background-color:white;
	height:100vh;
	width:85vw;
	margin:0 auto;
	overflow : scroll;
}
.link{
	text-align:right;
}
.dateCategory{
	display:flex;
}
.message{
	text-align:left;
}
.sigunup{
	height:calc(100vh - 80px);
	width:60vw;
	background-color:white;
	margin: 0 auto;
}
.setting{
	height:calc(100vh - 80px);
	width:60vw;
	background-color:white;
	margin: 0 auto;
}
.messages{
	height:calc(100vh - 80px);
	width:60vw;
	background-color:white;
	margin:0 20px;
}
.messageForm{
	height:calc(100vh - 80px);
	width:60vw;
	background-color:white;
	margin:0 auto;
}
.text-box{
	width:40vw;
}
.mainContent{
	background-color:white;
	height:100vh;
	width:85vw;
	overflow-y : scroll;
	margin:0 auto;
	align-items:center;
}
.account-name{
	float:left;
	flex-wrap: wrap;
	padding:20px;
}
.{
	width:85vw;
}